*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    min-width: 320px;
    font-family: var(--inter-font);
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    color: #000;
    overflow-x: hidden;
    background: url('../images/content/img.png') no-repeat center;
    background-size: cover;
}

button {
    outline: none;
    border: none;
    &[disabled] {
        background-color: #727272;
        pointer-events: none;
    }
}

a:active,
a:hover,
a:focus {
    outline: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

button { cursor:pointer }

.content {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100%;
    overflow: hidden;
}

.logo {
    position: relative;
    display: inline-block;
    margin-top: 5px;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: -35px;
        width: 120%;
        height: 100%;
        background: #fff;
        border-radius: 45px;
        filter: blur(15px);
        z-index: -1;
    }
    @include mobile {
        margin-top: 24px;
        left: 50%;
        transform: translateX(-50%);
    }
}

.container {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    @include mobile {
        max-width: 320px;
        padding-left: 15px;
        padding-right: 15px;
    }
}

.form-group {
    position: relative;
    margin-bottom: 12px;
    &:last-child {
        margin-bottom: 0;
    }
}

.input-group {
    position: relative;
    &--required {
        input {
            border: 1px solid red;
        }
        .select-selected {
            border: 1px solid red;
        }
        label[for="file"] {
            span {
                border: 1px solid red;
            }
        }
    }
}

.s-hidden {
    display: none;
}

.styledSelect {
    position: relative;
    padding: 11px 20px;
    border: 1px solid var(--green-color);
    box-sizing: border-box;
    border-radius: 2px;
    font-size: 14px;
    color: var(--grey-color);
    text-align: left;
    cursor: pointer;
    &::before {
        content: "";
        position: absolute;
        right: 20px;
        top: 16px;
        width: 13px;
        height: 8px;
        background: url('../images/icons/arr.svg') no-repeat center;
        transition: all .3s linear;
    }
    &.active {
        &::before {
            transform: rotate(-180deg);
        }
    }
}

.options {
    display: none;
    position: absolute;
    top: 45px;
    left: 0;
    right: 0;
    border-radius: 2px;
    border: 1px solid var(--green-color);
    background-color: #fff;
    overflow-y: auto;
    max-height: 150px;
    z-index: 10;
    li {
        padding: 11px 20px;
        font-size: 14px;
        color: var(--grey-color);
        text-align: left;
        cursor: pointer;
        &:hover {
            background-color: var(--green-color);
            color: #fff;
        }
    }
}

.btn {
    width: 100%;
    height: 56px;
    background: var(--pink-color);
    box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    font-weight: bold;
    font-size: 18px;
    color: #fff;
    line-height: 56px;
    text-transform: uppercase;
    transition: all .3s linear;
    &:active {
        box-shadow: none;
        transition: all .3s linear;
    }
}

input {
    width: 100%;
    padding: 11px 20px;
    border-radius: 2px;
    border: 1px solid var(--green-color);
    background-color: #fff;
    font-size: 14px;
    color: var(--grey-color);
    &:focus {
        outline: var(--lightgreen-color);
    }
}

.overflow {
    overflow: hidden!important;
}

